# Project
COMPOSE_PROJECT_NAME=alertfrog
ASPNETCORE_ENVIRONMENT=Development

# MySQL
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=alertfrog
MYSQL_USER=alertfrog
MYSQL_PASSWORD=change-me-user

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Backend Auth (JWT)
JWT_ISSUER=alertfrog
JWT_AUDIENCE=alertfrog
JWT_SECRET=please-change-this-super-secret-key

# Frontend config
VITE_API_BASE_URL=http://backend:8080
